<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadê Buffet - Detalhes</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="style.css">

  <style>
        .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    button{
      width: 140px;
    }
  </style>

</head>
<body>
  <h1><a href="index.html">Cadê Buffet</a></h1>

  <header>
    <nav class="navbar">

      <aside>
        <ul class="list-group">

          <li  class="list-group-item">
            <a href="index.html">Home</a>
          </li>

          <li class="list-group-item">
            <a href="listing.html">Listar todos os Buffets</a>
          </li>

        </ul>
      </aside>

    </nav>
  </header>


  <section id="app">

    <div v-for="item in listBuffets">
      <ul>
        <li><h2>Buffet</h2>
          <div>
            <address>Nome Fantasia: {{item.brand_name}}</address>
            <address>Telefone para contato: {{item.phone_number}}</address>
            <address>Endereço: {{item.address}}</address>
            <address>Bairro: {{item.district}}</address>
            <address>Estado: {{item.state}}</address>
            <address>Cidade: {{item.city}}</address>
            <address>CEP: {{item.zip_code}}</address>
            <address>Descrição: {{item.description}}</address>
            <address>Métodos de pagamento: {{item.payment_methods}}</address>
          </div>
        </li>
      </ul>
    </div>

    <ul>
      <h2>Eventos</h2>
      <li>
        <div v-for="item in listEvents">
          <div v-if="listEvents.length > 0">
            <p>Consulte a disponbilidade do evento: <button v-on:click="availabilityEvent(item.id)">{{item.name}}</button></p>
            <address>Bebidas: {{item.alcoholic_drink}}</address>
            <address>Duração de {{item.duration_in_minutes}} minutos</address>
            <address>Local fixo: {{item.fixed_location}}</address>
            <address>Quantidade máxima de convidados: {{item.max_quantity_people}}</address>
            <address>Quantidade máxima de convidados: {{item.min_quantity_people}}</address>
            <address>Cardápio: {{item.menu}}</address>
            <address>Estacionamento: {{item.parking}}</address>
            <address>Decoração própria: {{item.self_decoration}}</address>
            <address>Valet: {{item.valet}}</address>
          </div>
        </div>

        <div v-if="listEvents.length === 0 ">
          <div v-for="alert in alerts">
            {{alert.message}}
          </div>
        </div>
      </li>
    </ul>

  </section>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="details_buffet.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>