<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadê Buffet - Listagem</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="style.css">

</head>
<body>
  <h1><a href="index.html">Cadê Buffet</a></h1>
  <div id="app">

  <nav class="navbar">
    <aside>
      <ul class="list-group">
        <li  class="list-group-item">
          <a href="index.html">Home</a>
        </li>
        
      </ul>
    </aside>
  </nav>
  <section>
    <input type="text" v-model="filterBuffet" placeholder="Filtre sua busca">
    <div v-if="listResult.length === 0">Nenhum Buffet localizado</div>
    <ul class="list-group">
      <li v-for="item in listResult" class="list-group-item">
        <div>
          <address><button v-on:click="detailsBuffet(item.id)">{{ item.brand_name }}</button></address>
          <address>Nome Fantasia: {{item.corporate_name}}</address>
          <address>CNPJ: {{item.register_number}}</address>
          <address>Telefone para contato: {{item.phone_number}}</address>
          <address>Endereço: {{item.address}}</address>
          <address>Bairro: {{item.district}}</address>
          <address>Estado: {{item.state}}</address>
          <address>Cidade: {{item.city}}</address>
          <address>CEP: {{item.zip_code}}</address>
          <address>Descrição: {{item.description}}</address>
          <address>Métodos de pagamento: {{item.payment_methods}}</address>
        </div>
      </li>
    </ul>
  </section>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="listing.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>